@tailwind base;

@tailwind components;

@tailwind utilities;

.text-blue {
  color: #76bfff;
}
.border-blue {
  border-color: #76bfff;
}
.bg-dark {
  background-color: #0b0e44;
}

.message {
  @apply italic text-sm;
  color: rgba(1, 82, 189, 0.829);
}
