@tailwind base;

@tailwind components;

@tailwind utilities;

.text-blue {
  color: #76bfff;
}
.bg-lightbluelighted {
  background-color: rgba(118, 191, 255, 0.795);
}
.hover\:bg-lightbluelighted:hover {
  background-color: rgba(118, 191, 255, 0.795);
}
.bg-lightblue {
  background-color: #76bfff;
}
.hover\:bg-lightblue:hover {
  background-color: #76bfff;
}
.border-blue {
  border-color: #959ca3;
}
.bg-dark {
  background-color: #0b0e44;
}

.message {
  @apply italic text-sm;
  color: rgb(0, 91, 211);
}
